<div style="width:600px;margin:auto">

  <h2>Realtime Chat</h2>

  <input
    [(ngModel)]="username"
    placeholder="Tên của bạn"
    style="width:100%;margin-bottom:10px"
  />

  <div
    style="
      height:300px;
      border:1px solid #ccc;
      overflow:auto;
      padding:10px;
      margin-bottom:10px;
    "
  >
    <div *ngFor="let msg of messages">
      <b>{{ msg.username }}</b>
      [{{ msg.time }}]:
      {{ msg.message }}
    </div>
  </div>

  <input
    [(ngModel)]="message"
    (keyup.enter)="send()"
    placeholder="Nhập tin nhắn..."
    style="width:80%"
  />

  <button (click)="send()">Gửi</button>

</div>